<div class="window-wrapper wan2-window" id="wan2lan-window" style="width: 650px;display:none;">
  <div class="window">
    <div class="window-opt">
      <a href="javascript:void(0)" class="iconfont close">&#xe61f;</a>
    </div>
    <div class="window-header">网口设置</div>
    <div class="window-body">
      <div class="fm-wrapper">
        <form id="wan2lan-form" action="" method="POST">
          <div class="fm-item wan2-box">
            <span class="fm-label" style="width: 20%;">网口设置：</span>
            <select class="fm-select" name="wan2lan">
              <option value="0">单WAN单LAN</option>
              <option value="1">双LAN</option>
            </select>
          </div>
          <div class="fm-item">
            <span class="fm-label" style="width: 20%;"></span>
            <button class="btn btn-primary btn-small" type="submit">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
