<div class="container">
  <div class="login-wrapper">
    <div class="header">
      <img src="assets/icons/dandelion_logo.png" alt="logo" class="logo">
      <span class="logo-text">Dandelion Router</span>
    </div>
    <div class="router-wrap"></div>

    <form action="post" id="login-form">
      <input type="hidden" value="www.oray.com">
      <div class="container">
        <div class="fm-wrapper">
          <p class="sn-code">SN Code: <span data-name="sn"></span><strong data-name="machine-type"></strong></p>
          <input id="username" class="fm-text password" name="username" type="text" placeholder="Username" disabled style="margin-bottom: 10px;display: none;"/>
          <input id="password" class="fm-text password" name="password" type="password" placeholder="Password" autocomplete="off" />
          <p class="tips-wrap clear" style="position:relative;">
            <span class="fl orange warn" style="display: none;"><i class="iconfont f16">&#xe755;</i><span id="tips">Session Timeout, Please Login Again...</span></span>
            <span class="fr"><a href="javascript:void(0)" class="forget-pass" id="forget_pass">Forgot Password</a></span>
            <span class="reset-tips" style="display:none;position:absolute;color:#fff;left: 338px;width: 290px;text-align: left;">Press and hold RST to reset factory</span>
          </p>
          <div class="fm-item" style="margin-top: 28px;">
            <a id="login-btn" class="btn" href="javascript:void(0)">Login</a>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
